[Desktop Entry]
Name=Raylib Multilang
Comment=Raylib-based multilingual demo
Exec=rayintalex
Icon=${SNAP}/meta/gui/alexraylib.png
Type=Application
Terminal=false
Categories=Utility;
